.item-details {
   box-sizing: border-box;
   padding: 0 1rem;
   min-height: 220px;
}

.item-details img {
   position: absolute;
   left: 1rem;
   top: 0.5rem;
   width: 150px;
   border-radius: 10px;
}

.item-details ul {
   margin-left: 180px;
}

.item-details ul li {
   background: transparent;
   border-left: 0;
   border-right: 0;
}
